#p {
  color: rgb(140, 0, 222);
  width: 400px;
  border: 1px solid black;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-class {
  color: red;
  background: rgba(245, 37, 37, 0.267);
  font-family: "Pacifico";
}

.nav-main-top {
  background: rgba(245, 37, 37, 0.267);
  font-family: "Pacifico";
  padding: 10px 50px;
  color: rgb(148, 0, 0);
}

.font-pacifico {
  font-family: "Pacifico";
  font-size: 48px;
  text-align: center;
  color: rgb(102, 0, 255);
  line-height: 3; /* letter-spacing: 2px; */
}

.font-rubik {
  font-family: "Rubik Wet Paint";
  font-size: 80px;
  text-align: center;
  color: rgb(255, 0, 0);
  line-height: 2;
  letter-spacing: 10px;
}

.font-dancing-title {
  font-family: "Dancing Script";
  font-size: 50px;
  font-weight: 900;
}

.font-dancing {
  font-family: "Dancing Script";
  font-size: 20px;
}

.font-UnifrakturMaguntia {
  font-family: "UnifrakturMaguntia";
  font-size: 60px;
  color: #f00020;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

img.img1 {
  max-width: 600px;
  height: auto;
}

img.img2 {
  display: block;
  margin: 0 auto;
}

.rounded-img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding: 0.3em;
  margin-bottom: 1em;
}

/* ============================ My Photo ================================*/

.wrapper {
  width: 500px; /* ширина коробочки */
  height: 600px; /* высота коробочки */
  border-radius: 50%; /* скругление коробочки */
  margin-left: auto; /* центрует */
  margin-right: auto; /* центрует */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}
.exmpl {
  overflow: hidden; /* Обрезка лишнего за пределами контейнера */
  display: flex; /* Выравнивание изображения по центру контейнера */
  justify-content: center; /* Выравнивание по центру по  ВЕРТИКАЛИ */
  align-items: center; /* Выравнивание по центру по  ГОРИЗОНТАЛИ */
}
.exmpl img {
  width: 100%; /* min-width... чтобы избавиться от полей */
  height: 100%; /* min-height... чтобы избавиться от полей */
  flex-shrink: 0; /* запретить автоматическое масштабирование изображения */
}

/* =============== Background Image ==================================*/

.wrapper2 {
  width: 900px;
  height: 900px;
  border: 1px solid #515151;
}
.exmp2 {
  background-image: url("static\CurriculumVitae\images\feedback.jpg");
  background-repeat: no-repeat;
  background-position: -40px 0px;
  background-size: cover;
}

/* ====================================================================*/

.centre_img {
  max-width: 600px;
  height: auto;
  border-radius: 5%;
  align-self: center; /* Выравнивание по центру */
  margin: 10px 10px 10px 0;
}
.left_img {
  max-width: 300px;
  height: auto;
  float: left; /* Выравнивание по левому краю */
  margin: 10px 10px 10px 0;
}
.right_img {
  max-width: 300px;
  height: auto;
  float: right; /* Выравнивание по правому краю  */
  margin: 10px 0 10px 10px;
}

/*=========================== Headings for the Main Page ==================*/

h1 {
  font-family: "Rye";
  font-size: 60px;
  color: #564c4a;
  font-weight: 300;
  padding-left: 20px;
}
h2 {
  font-family: "Cabin Sketch";
  color: #b00d22;
  font-size: 36px;
  font-weight: 500;
  clear: both; /* отменяем обтекание с обеих сторон */
  padding: 1em 0 0.25em;
  border-bottom: 2px solid;
  counter-increment: h2; /* задаем увеличение нумерации заголовков h2 на единицу */
  padding-left: 20px;
}
h2:before {
  content: " " counter(h2) ". "; /* добавляем в начале каждого заголовка текущее значение счетчика и точку с пробелом */
}

/*==========================================================================*/

p {
  font-family: arial;
  color: #785f5b;
  line-height: 1.3;
}

ol {
  font-family: "Grand Hotel";
  font-size: 20px;
  color: #785f5b;
  line-height: 1.3;
}

/********** картинка слева **********/
.left {
  float: left;
  margin: 0 3em 3em 0;
  padding-left: 20px;
  padding-right: 20px;
}

/********** картинка справа **********/
.right {
  float: right;
  margin: 0 0 1em 0;
  padding-left: 10px;
  padding-right: 20px;
}

.nice_place {
  padding-left: 20px;
  font-family: "Montez";
  font-size: 28px;
}

/********** картинка между текста **********/
.columns {
  float: left;
  max-width: 30%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Sarina";
  font-size: 20px;
  text-align: justify;
}
.img-center {
  float: left;
  margin: 0 1.5% 0 1.5%;
  max-width: 37%;
  padding-left: 20px;
  padding-right: 20px;
}

/********** картинка по центру********* */
.center {
  display: block;
  margin: 0 auto 1.5%;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  border-radius: 3%;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ===  Картинка в центре с обтеканием текста  === */

.wrap {
  font-size: 18px;
  width: 95%;
  margin: 50px auto;
  position: relative;
}
img.img3 {
  width: 400px;
  position: absolute;
  top: 0;
  left: 46%;
  margin-left: -125px;
}
.left_column {
  float: left;
  width: 49%;
  text-align: justify;
}
.right_column {
  float: right;
  width: 49%;
  text-align: justify;
}
.left_column:before,
.right_column:before {
  content: "";
  width: 215px;
  height: 290px;
}
.left_column:before {
  float: right;
}
.right_column:before {
  float: left;
}

/*==============Left Section with Vertical Menu=======================*/

.table-content {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.left-chapters {
  margin: 0;
  background: #eee;
  border-right: 1px solid #ccc;
  min-height: 100%;
  /* position: fixed; Замораживает меню */
}
.left-chapters ul {
  width: 230px;
  min-height: 100%;
  margin: 0;
  padding: 100px 10px 10px 20px;
  list-style: none;
  font-size: 20px;
}
.left-chapters ul li {
  margin: 20px 0 0 0;
  color: #999;
}
.left-chapters ul li.selected {
  color: #0059b2;
}
.left-chapters ul li a {
  color: #444;
  text-decoration: none;
}
.left-chapters ul li a:hover {
  color: #cc0000;
}
.left-chapters ul li.share {
  margin: 60px 0 0 0;
}
.left-chapters ul li.share p {
  margin: 30px 0 30px 0;
}
.left-chapters ul li.share a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
}
.left-chapters ul li.share a.share-yt {
  width: 100%;
  height: 30px;
  background: url("../images/share_yt.png") no-repeat 0 0;
}
.left-chapters ul li.share a.share-yt:hover {
  width: 100%;
  height: 30px;
  background: url("../images/share_yt.png") no-repeat 0 -30px;
}
.content {
  padding: 80px 20px 20px 40px;
  /* margin-top: 80px; */
  width: 100%;
  box-sizing: border-box;
}

/*=======================================================*/
