<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Резюме</title>
    <style>
      h1 {
        color: green;
      }

      p {
        color: rgb(157, 0, 236);
      }
      ol {
        color: rgb(167, 0, 0);
      }
    </style>
  </head> -->

{% extends 'CurriculumVitae\base.html' %} {% block content %}

</div>
  <body>
    <!-- ---------------------------------------------------------------------------->
    <nav>
      <a
        href="main.html"
        style="
          background: rgba(245, 37, 37, 0.267);
          padding: 10px 50px;
          color: rgb(148, 0, 0);
        "
        >Главная</a
      >
      <a>Мое веб-приложение</a>
      <a href="https://skillfactory.ru/">Контакты</a>
      <a>О разработчике</a>
      <a
        href="https://webistore.ru/internet/universalnye-atributy-tegov-v-html/"
        title="Универсальные атрибуты тегов в HTML"
        >Атрибуты тегов</a
      >
    </nav>
    <!-- ---------------------------------------------------------------------------->
    <h1 class="font-pacifico">Добрый день! Я начинающий веб-разработчик!</h1>
    <h1 class="font-rubik">Hello! I am a new comer!</h1>
    <h3 class="my-class">Здесь что-нибудь будет</h3>

        <p>В этом абзаце будет пару слов обо мне</p>
    <!-- ---------------------------------------------------------------------------->
    <img
      class="img2"
      src="https://radioprog.ru/uploads/media/articles/0001/01/2cc857f7f034ad92dae834fba16b89999b455fb0.png"
      alt="html logo"
      width="300"
      height="294"
      title="logo HTML-5"
    />
<div class="container">
  <ol>
    <li>Первый элемент нумерованного списка</li>
    <br />
    <li>Второй элемент нумерованного списка</li>
    <br />
    <li>Третий элемент нумерованного списка</li>
  </ol>
</div>

    <!-- ---------------------------------------------------------------------------->
    {% endblock content %}
  </body>
  <footer>
    <hr />
    <p>My name, 2020</p>
    <p>My contacts</p>
  </footer>
</html>
